<h2 style="text-align: center">Player-1 : {{score1}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    Player-2 : {{score2}}</h2>
<div style='width:760px;height:760px; position: relative;margin:auto;padding:20px;'>
  <ng-container *ngFor = "let i of rowArr">
    <ng-container *ngFor = "let j of rowArr">
        <div (click) = "putCoin(i,j)" [ngClass]="{'intersection':clr[rows*i+j], 'black':blk[rows*i+j], 'white':wht[rows*i+j]}" [ngStyle] = "{ 'top.px':i*40, 'left.px':j*40 }"></div>
    </ng-container>
  </ng-container>
</div>